---
const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const showHobby3 = false;
const skillsLimit = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/blog">Blog</a>


		<h1>About</h1>
        <p>{pageTitle}</p>

        <p>Name: {identity.firstName}. I am from {identity.country}</p>
        <p>Favorite hobbies are {identity.hobbies[0]} & {identity.hobbies[1]}</p>
        {showHobby3 && <p>Hidden skill: {identity.hobbies[2]}</p>}
        {skillsLimit > 2 ? <p>Skills -> </p>
        <ul>
            {skills.map((ele) => <li>{ele}</li>)}
        </ul>: <p>Skills are hidden</p>}
	</body>
</html>
